@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html {
    min-height: 100%;
    font-family: Ubuntu;
    position: relative;
}

:root {
    --gridColumns: 1;
    --gridRows: 1;
}

body {
    background: #fcfcfc;
}


.strike {
    border-bottom: 1px solid #212121;
    position: absolute;
    top: 575px;
    left: 0;
    width: 100%;
    z-index: -1000;
}

.main {
    display: flex;
    justify-content: center;;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 950;
    position: relative;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #212121;
    font-size: 36px;
    color: #fcfcfc;
    z-index: 990;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

#size {
    font-size: 30px;
}

.paintContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorContainer {
    bottom: 10px;
    padding-top: 30px;
}

#sketchContainer {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(var(--gridRows), 1fr);
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 10%);
}

button {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #212121;
    background: #fcfcfc;
    font-family: Ubuntu;
    font-size: 30px;
}

button.active {
    background-color: #212121;
    color: #fcfcfc;
}

button:hover {
    scale: 1.03;
}

input[type=color] {
    -webkit-appearance: none;
    border: none;
    width: 100px;
    height: 100px;
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0px;
}

input[type=color]::-webkit-color-swatch {
    border: 0px;
    border-radius: 5px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #fcfcfc;
    width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #fcfcfc;
    height: 20px;
    border: 1px solid #212121;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 35px;
    width: 35px;
    background: #212121;
    border-radius: 35px;
    margin-top: -8px;
}