:root {
    --gridColumns: 1;
    --gridRows: 1;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(var(--gridRows), 1fr);
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    border: 1px solid black;
}

button.active {
    background-color: aqua;
}